<div class="section1">Guild Contributions</div>

<div class="scroll-box">
  <div class="flex-container">
    <div class="flex-column" *ngFor="let user of usersList">
      <div class="flex-row-header">{{user.name}}</div>
      <div class="flex-row" *ngFor="let cont of user.contributions"
        [ngStyle]="{'background-color':cont < 0 ? '#cd3939' : ''}">
        {{cont}}
      </div>
    </div>
  </div>
</div>

<div class="section2">Total Contributions</div>
<div class="flex-container">
  <div class="flex-column" *ngFor="let user of usersList">
    <div class="flex-row-header">{{user.name}}</div>
    <div class="flex-row"> {{userTotal(user)}}</div>
  </div>
</div>
