<div class="section-header">Guild Contributions</div>

<div class="scroll-box">
  <div class="flex-container">
    <div class="flex-column" *ngFor="let user of usersList">
      <div class="flex-row-header">{{user.name}}</div>
      <div class="flex-row" *ngFor="let contribution of user.contributions"
        [ngStyle]="{'background-color':contribution.contribution < 0 ? '#cd3939' : ''}">
        {{contribution.contribution}}
      </div>
    </div>
  </div>
</div>

<div class="martop30">Total Contributions</div>
<div class="flex-container">
  <div class="flex-column" *ngFor="let user of usersList">
    <div class="flex-row-header">{{user.name}}</div>
    <div class="flex-row" [ngStyle]="{'background-color':userTotal(user) < 0 ? '#cd3939' : ''}"> {{userTotal(user)}}
    </div>
  </div>
</div>
