<!-- <table>
  <tr>
    <th *ngFor="let user of usersList">
      {{user.name}}
    </th>
  </tr>
  <tr *ngFor="let cont of contList">
    <td>{{cont}}</td>>
  </tr>
  <div class="rows">

  </div>

</table> -->

<!-- <div class="grid-container">
  <div class="grid-column" *ngFor="let user of usersList">
    <div class="row-header">{{user.name}}</div>
    <div class="row" *ngFor="let cont of user.contributions">{{cont}}</div>
  </div>
</div> -->

<!-- <div class="table">
  <div class="columns" *ngFor="let user of usersList">{{user.name}}
    <div class="rows" *ngFor="let cont of user.contributions">
      {{cont}}
    </div>
  </div>
</div> -->

<div class="flex-container">
  <div class="flex-column" *ngFor="let user of usersList">
    <div class="flex-row-header">{{user.name}}</div>
    <div class="flex-row" *ngFor="let cont of user.contributions">
      {{cont}}
    </div>
  </div>
</div>
