.flex-container{
    display: flex;
    //border: solid 1px;
}

.flex-column{
    //padding: 5px;
    border: solid 1px;
    //border-bottom: none;
    height: min-content;
    
}

.flex-column:last-of-type{
    right: 10px;
}

.flex-row{
    padding: 0px 5px;
    border-bottom: solid 1px;
}

// .flex-row:last-of-type{
//     border-bottom: none;
// }

.flex-row-header{
    padding: 0px 5px;
    border-bottom: solid 1px;
}