<div class="component-page">
  <h1>Sign Up</h1>
  <div class="log-in-content">
    <input class="input" id="username" type="text" [formControl]="usernameFormControl" placeholder="Username">
    <input class="input" id="password" type="password" [formControl]="passwordFormControl" placeholder="Password">
    <input class="input" id="password" type="password" [formControl]="confirmFormControl" placeholder="Confirm Password"
      (keyup.enter)="onInput()">
  </div>
  <div class="error-text" *ngIf="passwordTypo === true">
    Password does not match confirmation. Please retype your password.
  </div>
  <div class="error-text" *ngIf="userExists === true">
    Username already taken.
  </div>
</div>
