<div class="flex-header-container">
  <span class="emblem">
    <a routerLink="/home"><img src="/assets/images/Emblem.png"
        alt="Council of Yggdrasil's Coat of Arms featuring a Tree.">
    </a>
  </span>
  <span class="flex-header-title">
    <a routerLink="/home">Council of Yggdrasil</a>
  </span>
  <!-- <a class="flex-header-button" routerLink="/create">Enter Contribution</a> -->
  <a class="flex-header-button" routerLink="/contribution">Contributions</a>
</div>
<div class="page">
  <router-outlet></router-outlet>
</div>
<footer>
  <p>Final Fantasy XIV</p>
  <p>Aether: Faerie</p>
  <p>Free Company Council of Yggdrassil: 2021-{{year}}</p>
</footer>
