h1{
    background-color: rgb(13, 13, 13);
    margin-top: 0;
    padding: 10px
}

footer{
    background-color: black;
    width: 100%;
    padding: 30px;
}

.page{
    min-height: 600px;
    padding: 20px;
}