<div class="component-page" *ngIf="!isLoading">
  <coy-player-list [userList]="users"></coy-player-list>
  <div class="container">
    <h2>Free Company Total Gil: {{totalSP.total | number}}</h2>
    <h2>Leaderboard</h2>
    <div class="leaderboard" *ngFor="let user of leaderboard; let i = index">
      {{i+1}}. {{user.name}} | {{user.total | number}}
    </div>
  </div>
  <div class="container">
    <h2>Milestone Goal: {{milestone | number}}</h2>
    <div class="bar">
      <div class="barfill" [ngStyle]="{'height': getMilestonePercentage()}"></div>
    </div>
    <br>
    {{getMilestonePercentage()}}
  </div>
</div>
