/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.savebtn {
  margin: 10px;
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.savebtn:hover {
  background-color: #3e8e41;
}

.savebtn:disabled {
  background-color: #9ab99b;
}

.error {
  color: red;
}
