<div class="input-int">
  <label>Contribution: </label>
  <input id="contribution" type="number" [formControl]="contribution">

  <button class="savebtn" [disabled]="!contribution.valid || contribution.value === 0 || selectedUser.id === 0"
    (click)="clickEvent(contribution.value)">Save</button>
</div>

<div class="error">
  <div *ngIf="contribution.errors?.['invalidInt']">
    Please input a whole number without letters.
  </div>

  <div *ngIf="contribution.errors?.['decimalDetected']">
    Please do not enter decimals.
  </div>
</div>
